In [1]:
#Load Packages

import pandas as pd

import glob

In [2]:

glob.glob('/Users/jkenglish/Desktop/StormEventsData/StormEvents_details*.csv')

['/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2013_c20170519.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2008_c20180718.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2012_c20200317.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d1995_c20190920.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2021_c20220921.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2003_c20200518.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2015_c20191116.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2004_c20200518.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2016_c20190817.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2022_c20220921.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2020_c20201216.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2019_c20201216.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d1990_c20170717.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2011_c20180718.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d1992_c20170717.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d1996_c20170717.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2017_c20200616.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d1991_c20170717.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2018_c20201216.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2007_c20170717.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2001_c20200518.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d1999_c20200518.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2005_c20200518.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2010_c20200922.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d1997_c20190920.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d1993_c20190920.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d1994_c20190920.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2000_c20200707.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2009_c20180718.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2014_c20191116.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2002_c20200518.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d1998_c20170717.csv',
 '/Users/jkenglish/Desktop/StormEventsData/StormEvents_details-ftp_v1.0_d2006_c20200518.csv']

In [3]:
#Concatenate data

dfs_combined = []

for i in glob.glob('/Users/jkenglish/Desktop/StormEventsData/StormEvents_details*.csv'):
    
    final_df = pd.read_csv(i,usecols = ['MONTH_NAME','YEAR','CZ_TIMEZONE','STATE','CZ_NAME','EVENT_TYPE','DAMAGE_CROPS','DAMAGE_PROPERTY'])
    
    dfs_combined.append(final_df)

In [4]:
len(dfs_combined)

33

In [5]:
df_concatenated = pd.concat(dfs_combined)

In [6]:
df_concatenated.shape

(1601748, 8)

In [7]:
df_concatenated

,STATE,YEAR,MONTH_NAME,EVENT_TYPE,CZ_NAME,CZ_TIMEZONE,DAMAGE_PROPERTY,DAMAGE_CROPS
0,NEW HAMPSHIRE,2013,February,Winter Weather,EASTERN HILLSBOROUGH,EST-5,0.00K,0.00K
1,NEW HAMPSHIRE,2013,December,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.00K,0.00K
2,NEW HAMPSHIRE,2013,March,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.00K,0.00K
3,NEW HAMPSHIRE,2013,October,Strong Wind,EASTERN HILLSBOROUGH,EST-5,3.00K,0.00K
4,NEW HAMPSHIRE,2013,February,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.00K,0.00K
...,...,...,...,...,...,...,...,...
56395,IOWA,2006,October,Hail,MITCHELL,CST-6,65.00K,80.00K
56396,IOWA,2006,October,Hail,HOWARD,CST-6,50.00K,75.00K
56397,IOWA,2006,October,Hail,WINNESHIEK,CST-6,5.00K,10.00K
56398,IOWA,2006,October,Hail,MITCHELL,CST-6,80.00K,100.00K
56399,WISCONSIN,2006,October,Hail,ADAMS,CST-6,10.00K,20.00K

In [8]:
df_concatenated.rename(columns = {'CZ_NAME':'COUNTY_NAME'},inplace = True)

df_concatenated.rename(columns = {'CZ_TIMEZONE':'COUNTY_TIMEZONE'},inplace = True)

In [9]:
df_concatenated

,STATE,YEAR,MONTH_NAME,EVENT_TYPE,COUNTY_NAME,COUNTY_TIMEZONE,DAMAGE_PROPERTY,DAMAGE_CROPS
0,NEW HAMPSHIRE,2013,February,Winter Weather,EASTERN HILLSBOROUGH,EST-5,0.00K,0.00K
1,NEW HAMPSHIRE,2013,December,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.00K,0.00K
2,NEW HAMPSHIRE,2013,March,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.00K,0.00K
3,NEW HAMPSHIRE,2013,October,Strong Wind,EASTERN HILLSBOROUGH,EST-5,3.00K,0.00K
4,NEW HAMPSHIRE,2013,February,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.00K,0.00K
...,...,...,...,...,...,...,...,...
56395,IOWA,2006,October,Hail,MITCHELL,CST-6,65.00K,80.00K
56396,IOWA,2006,October,Hail,HOWARD,CST-6,50.00K,75.00K
56397,IOWA,2006,October,Hail,WINNESHIEK,CST-6,5.00K,10.00K
56398,IOWA,2006,October,Hail,MITCHELL,CST-6,80.00K,100.00K
56399,WISCONSIN,2006,October,Hail,ADAMS,CST-6,10.00K,20.00K

In [10]:
df_concatenated.dtypes

STATE              object
YEAR                int64
MONTH_NAME         object
EVENT_TYPE         object
COUNTY_NAME        object
COUNTY_TIMEZONE    object
DAMAGE_PROPERTY    object
DAMAGE_CROPS       object
dtype: object

In [11]:
#Convert K, M, and B to numerical form in damage_property and damage_crops columns

def val_float(value):
    if type(value) == float or type(value) == int:
        return value
    elif 'K' in value:
        if len(value) > 1:
            return float(value.replace('K', '')) * 1000
        return 1000.0
    elif 'M' in value:
        if len(value) > 1:
            return float(value.replace('M', '')) * 1000000
        return 1000000.0
    elif 'B' in value:
        return float(value.replace('B', '')) * 1000000000
    return 0.0


df_concatenated['DAMAGE_PROPERTY'] = df_concatenated['DAMAGE_PROPERTY'].apply(val_float)

df_concatenated['DAMAGE_CROPS'] = df_concatenated['DAMAGE_CROPS'].apply(val_float)

In [12]:
df_concatenated

,STATE,YEAR,MONTH_NAME,EVENT_TYPE,COUNTY_NAME,COUNTY_TIMEZONE,DAMAGE_PROPERTY,DAMAGE_CROPS
0,NEW HAMPSHIRE,2013,February,Winter Weather,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
1,NEW HAMPSHIRE,2013,December,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
2,NEW HAMPSHIRE,2013,March,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
3,NEW HAMPSHIRE,2013,October,Strong Wind,EASTERN HILLSBOROUGH,EST-5,3000.0,0.0
4,NEW HAMPSHIRE,2013,February,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
...,...,...,...,...,...,...,...,...
56395,IOWA,2006,October,Hail,MITCHELL,CST-6,65000.0,80000.0
56396,IOWA,2006,October,Hail,HOWARD,CST-6,50000.0,75000.0
56397,IOWA,2006,October,Hail,WINNESHIEK,CST-6,5000.0,10000.0
56398,IOWA,2006,October,Hail,MITCHELL,CST-6,80000.0,100000.0
56399,WISCONSIN,2006,October,Hail,ADAMS,CST-6,10000.0,20000.0

In [13]:
df_concatenated.dtypes

STATE               object
YEAR                 int64
MONTH_NAME          object
EVENT_TYPE          object
COUNTY_NAME         object
COUNTY_TIMEZONE     object
DAMAGE_PROPERTY    float64
DAMAGE_CROPS       float64
dtype: object

In [14]:
df_concatenated.isna().sum()

STATE                   1
YEAR                    0
MONTH_NAME              0
EVENT_TYPE              0
COUNTY_NAME            15
COUNTY_TIMEZONE         0
DAMAGE_PROPERTY    554750
DAMAGE_CROPS       665066
dtype: int64

In [15]:

#Drop Nan values

df = df_concatenated.dropna(subset=['DAMAGE_PROPERTY', 'DAMAGE_CROPS','COUNTY_NAME'])

df

,STATE,YEAR,MONTH_NAME,EVENT_TYPE,COUNTY_NAME,COUNTY_TIMEZONE,DAMAGE_PROPERTY,DAMAGE_CROPS
0,NEW HAMPSHIRE,2013,February,Winter Weather,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
1,NEW HAMPSHIRE,2013,December,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
2,NEW HAMPSHIRE,2013,March,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
3,NEW HAMPSHIRE,2013,October,Strong Wind,EASTERN HILLSBOROUGH,EST-5,3000.0,0.0
4,NEW HAMPSHIRE,2013,February,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
...,...,...,...,...,...,...,...,...
56395,IOWA,2006,October,Hail,MITCHELL,CST-6,65000.0,80000.0
56396,IOWA,2006,October,Hail,HOWARD,CST-6,50000.0,75000.0
56397,IOWA,2006,October,Hail,WINNESHIEK,CST-6,5000.0,10000.0
56398,IOWA,2006,October,Hail,MITCHELL,CST-6,80000.0,100000.0
56399,WISCONSIN,2006,October,Hail,ADAMS,CST-6,10000.0,20000.0

In [16]:
df.isna().sum()

STATE              0
YEAR               0
MONTH_NAME         0
EVENT_TYPE         0
COUNTY_NAME        0
COUNTY_TIMEZONE    0
DAMAGE_PROPERTY    0
DAMAGE_CROPS       0
dtype: int64

In [17]:
df.shape

(903620, 8)

In [18]:
df[df.duplicated()]

,STATE,YEAR,MONTH_NAME,EVENT_TYPE,COUNTY_NAME,COUNTY_TIMEZONE,DAMAGE_PROPERTY,DAMAGE_CROPS
5,NEW HAMPSHIRE,2013,March,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
7,NEW HAMPSHIRE,2013,December,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
16,KANSAS,2013,June,Thunderstorm Wind,JOHNSON,CST-6,0.0,0.0
17,KANSAS,2013,June,Thunderstorm Wind,JOHNSON,CST-6,0.0,0.0
40,MICHIGAN,2013,May,Hail,BAY,EST-5,0.0,0.0
...,...,...,...,...,...,...,...,...
56352,INDIANA,2006,December,Flood,POSEY,CST-6,0.0,0.0
56354,GULF OF MEXICO,2006,October,Marine Thunderstorm Wind,GALVESTON BAY,CST-6,0.0,0.0
56356,DELAWARE,2006,November,Heavy Rain,SUSSEX,EST-5,0.0,0.0
56357,ALABAMA,2006,November,Thunderstorm Wind,BIBB,CST-6,2000.0,0.0
56360,TENNESSEE,2006,October,Thunderstorm Wind,HAMILTON,EST-5,15000.0,0.0

In [19]:
#Drop duplicate rows

df2 = df.drop_duplicates()

df2

,STATE,YEAR,MONTH_NAME,EVENT_TYPE,COUNTY_NAME,COUNTY_TIMEZONE,DAMAGE_PROPERTY,DAMAGE_CROPS
0,NEW HAMPSHIRE,2013,February,Winter Weather,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
1,NEW HAMPSHIRE,2013,December,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
2,NEW HAMPSHIRE,2013,March,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
3,NEW HAMPSHIRE,2013,October,Strong Wind,EASTERN HILLSBOROUGH,EST-5,3000.0,0.0
4,NEW HAMPSHIRE,2013,February,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
...,...,...,...,...,...,...,...,...
56395,IOWA,2006,October,Hail,MITCHELL,CST-6,65000.0,80000.0
56396,IOWA,2006,October,Hail,HOWARD,CST-6,50000.0,75000.0
56397,IOWA,2006,October,Hail,WINNESHIEK,CST-6,5000.0,10000.0
56398,IOWA,2006,October,Hail,MITCHELL,CST-6,80000.0,100000.0
56399,WISCONSIN,2006,October,Hail,ADAMS,CST-6,10000.0,20000.0

In [20]:
df2.isna().sum()

STATE              0
YEAR               0
MONTH_NAME         0
EVENT_TYPE         0
COUNTY_NAME        0
COUNTY_TIMEZONE    0
DAMAGE_PROPERTY    0
DAMAGE_CROPS       0
dtype: int64

In [21]:
#Write dataframe to a csv file

df2.to_csv('/Users/jkenglish/Desktop/StormEventsData/StormEvents_Combined.csv')